.hide {
	display:none;
}

/*INICIO*/
.USUARIO a:link{color:yellow}
.USUARIO a:visited{color:rgb(247, 0, 255)}
.USUARIO a:hover{color:red}
.USUARIO a:active{color:white}
.USUARIO {
	background: rgba(57, 51, 117, 0.534);
	padding: 2px;
}
.USUARIO ul{
	background: rgb(124, 214, 255);
}
ul{
	background: rgb(235, 110, 110);
	padding: 0px;
}
li{
	display: inline-block;
	margin: 4px;
}
/*INICIO*/

/*SCORE*/
.gana{
	background: rgb(25, 202, 2);
}
.pierde{
	background: rgb(245, 2, 2);
}
/*SCORE*/